@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

#translate-box-group {
  display: flex;
  background-color: darkblue;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
